<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" 
    data-bs-target="#staticBackdrop" (click)="onAddClick()">
    Add Department
  </button>
  

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" 
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" 
            id="staticBackdropLabel">
            {{ModalTitle}}
        </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modalClose()" id="add-edit-modal-close"
            ></button>
        </div>
        <div class="modal-body">
                <form autocomplete="off" [formGroup]="deptForm">
                        <div claa="from-group">
                            <label class="col-sm-4 col-form-label ml">Department Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" 
                                [(ngModel)]="newDepartmentName" 
                                placeholder="Enter Department Name"
                                name="newDepartment" formControlName="departmentName" >
                        </div>
                        <div *ngIf="deptForm.controls['departmentName'].invalid && 
                            (deptForm.controls['departmentName'].dirty || deptForm.controls['departmentName'].touched)" 
                            class="alert alert-danger">
                            <!-- invalid Input -->
                            <div *ngIf="deptForm.controls['departmentName'].errors.required" >
                                DepartmentName is required.
                          </div>
                            <div *ngIf="deptForm.get('departmentName').errors?.deptExists" >
                                Department alredy exists
                            </div>
                        </div>
                        </div>

                        <!-- <div [hidden]="addMode" claa="from-group">
                            <label class="col-sm-4 col-form-label ml">Department Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" 
                                [(ngModel)]="updateDepartmentName"
                                name="updateDepartment" formControlName="departmentName">
                        </div>
                        <div *ngIf="deptForm.controls['departmentName'].invalid && 
                        (deptForm.controls['departmentName'].dirty || deptForm.controls['departmentName'].touched)" 
                        class="alert alert-danger">
                        <div *ngIf="deptForm.controls['departmentName'].errors.required">
                            DepartmentName is required.
                        </div>
                        <div *ngIf="deptForm.get('departmentName').errors?.deptExists" >
                            Department alredy exists
                        </div>
                        </div>
                        </div> -->
                   
                    
                    <div class="modal-footer">
                        <button (click)="onAddDepartment()" [disabled]="!deptForm.valid" 
                            *ngIf="addMode" class="btn btn-primary" type="button">Add</button>
                        <button (click)="onUpdateDepartment()" [disabled]="!deptForm.valid" 
                            *ngIf="!addMode" class="btn btn-primary" type="button">Update</button>  
                        <button (click)="modalClose()" class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                    </div>
                </form>
            
        </div>
        
      </div>
    </div>
  </div>

<div class="container">
    <table class="table table-hover" style="border-style:double;">
        <thead>
            <tr>
                <!-- <th scope="col">DepartId</th> -->
                <th scope="col">DepartName</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of departmentLists$ | async">
                <!-- <th shope="row">{{dept.departmentId}}</th> -->
                <td>{{dept.departmentName}}</td>

               
                    <td>
                    <button [disabled]="dept.departmentId <= 4" class="btn btn-primary me-2 mb-1" 
                        (click)="updateDepartment(dept.departmentId)" type="submit" 
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                    </button>
                </td>
                
                
                <td>
                    <button [disabled]="dept.departmentId <= 4" class="btn btn-danger me-2 mb-1" 
                        (click)="onDelete(dept.departmentId)" 
                        type="button" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                    </button>
                    
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <div class="alert alert-success" role="alert" id="add-success-alert">
        Department add Successfully
    </div>
    <div class="alert alert-success" role="alert" id="update-success-alert">
        Department update Successfully
    </div>
    <div class="alert alert-success" role="alert" id="delete-success-alert">
        Department Delete Successfully
    </div> -->
</div>  